[Unit]
Description=Run UNSMIL Playwright upgrader every 30 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=30min
RandomizedDelaySec=5min
Persistent=true
Unit=libyaintel-unsmil-playwright.service

[Install]
WantedBy=timers.target
